

body {
  min-height: 100vh;
  height: 100vh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2%
}

.header {
  display: flex;
  gap: 2px;
}

button {
  font-size: 16px;
}

.container {
  background-color: white;
  display: grid;
  width: 50%;
  height: 50%;
  border-radius: 5%;
}

h1, p {
  color: white;
}